data:
  packages:
    brewfile: "{{ .chezmoi.sourceDir }}/../packages/Brewfile"
    arch: "{{ .chezmoi.sourceDir }}/../packages/arch-packages.txt"
    fedora: "{{ .chezmoi.sourceDir }}/../packages/fedora-packages.txt"
