name: Dotfiles CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  chezmoi-validation:
    name: Chezmoi validation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install chezmoi
        run: sudo snap install chezmoi --classic

      - name: Create chezmoi source dir
        run: mkdir -p ~/.local/share/chezmoi

      - name: Run chezmoi doctor
        run: chezmoi doctor --verbose

      - name: Bootstrap dry-run
        run: ./bootstrap --dry-run

  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
